PORT=3003
TICKET_DATABASE_URL="postgresql://admin:rootpassword@localhost:5433/ticket_db?schema=public"
BUS_API_URL="http://localhost:3002"
FRONTEND_URL="http://localhost:3010"

# Stripe (sandbox)
STRIPE_SECRET_KEY=sk_test_xxx
STRIPE_WEBHOOK_SECRET=whsec_xxx
